@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300;1,400&display=swap');
:root {
    --primary: #374151;
    --secondary: #F87171;
    --brown: #92400E;
    --white: #ffffff;
}

body {
    font-family: 'Lato', sans-serif;
}

hr {
    margin: 2rem 0;
}

#title {
    font-size: 2rem
}


/* containers */

.container-fluid {
    padding-left: 1.2rem;
    padding-right: 1rem;
}

.container {
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 600px;
}

.link {
    min-width: 140px;
    max-width: max-content;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    text-decoration: none;
}

.primary-link {
    color: var(--brown);
    background-color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 0.5rem;
}

.secondary-link {
    color: var(--brown);
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
    border-radius: 0.5rem;
}

.unlisted {
    list-style: none;
}

.list-inline li {
    display: inline;
    padding: 0 0.5rem;
}

.navigation {
    background-color: var(--secondary);
    padding: 1rem 0rem;
    color: var(--brown);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.navigation .brand-name {
    font-weight: 700;
}

.navigation ul {
    list-style: none;
    text-align: right;
}

.navigation ul li {
    display: inline-block;
    padding: 0 0.8rem;
}

.navigation ul li a {
    font-weight: 500;
    color: #92400E;
}

.navigation ul li a.active {
    font-weight: 500;
    color: var(--white);
}